{% for field in form %}
    {% if field.errors %}
    {% for error in field.errors %}
    <li style="colour:red;">{{ error }}</li>
        <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Message</strong> {{ error }}
        </div>



    {% endfor %}
    {% endif %}
{% endfor %}

{% comment %} {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message.tags }}</strong> {{ message }}
        </div>
    {% endfor %}
{% endif %} {% endcomment %}